# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
venv/
.venv/

# Entorno
.env
.env.*

# Logs
*.log
logs/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# PDFs
*.pdf
